@import '@/alias/_variables';

$green: #00c851;

:export {
  green: $green;
}

.header-1 {
  background-color: common.$primary;
  &.active {
    background-color: red;
  }
}


.input {
  @media (min-width: 768px) {
    max-width: 370px;
  }
}
