$green: #00c851;

:export {
  green: $green;
}

.header-1 {
  background-color: common.$primary;
  &.active {
    background-color: red;
  }
}

.input {
  @media (min-width: 768px) {
    max-width: 370px;
  }
}

.test {
  @apply px-1.5;
}

@supports (--num: 1.5) {
  .myclass {
    display: block;
  }
}

// Added comment to trigger regeneration
